<%/*
顶部蓝条
name            昵称
profileUrl      头像url
_id             唯一id
*/%>
<div class="zu-top">
    <div class="zg-warp clearfix">
        <a href="/" class="zu-top-link-logo">知乎</a>
        <div role="search" id="zh-top_search" class="zu-top-search">
            <form method="get" action="/search" id="zh-top-search-form" class="zu-top-search-form">
                <input type="text" class="zu-top-search-input" placeholder="搜索你感兴趣的内容...">
                <button type="submit" class="zu-top-search-button">
                    <span class="sprite-icon-magnifier-dark"></span>
                </button>
            </form>
        </div>
        <div class="zu-top-nav">
            <ul class="zu-top-nav-ul">
                <li class="zu-top-nav-li current">
                    <a class="zu-top-nav-link" href="/">首页</a>
                </li>
                <li class="zu-top-nav-li">
                    <a class="zu-top-nav-link" href="/">话题</a>
                </li>
                <li class="zu-top-nav-li">
                    <a class="zu-top-nav-link" href="/">发现</a>
                </li>
                <li class="zu-top-nav-li">
                    <a class="zu-top-nav-link" href="/">消息</a>
                </li>
            </ul>
        </div>
        <div class="zu-top-profile">
            <a href="/people/<%= myself._id %>" class="zu-top-profile-name">
                <span class="name"><%= myself.name %></span>
                <img class="avatar" src=<%= myself.profileUrl %> alt=<%= myself.name %>>
                <!--<span class="zu-top-pm-count zg-noti-number">1</span>-->
            </a>
            <ul class="top-nav-dropDown">
                <li>
                    <a href="/people/<%= myself._id %>" ><i class="zg-icon zg-icon-home"></i>我的主页</a>
                </li>
                <li>
                    <a href="/inbox"><i class="zg-icon zg-icon-pm"></i>私信</a>
                </li>
                <li>
                    <a href="/settings"><i class="zg-icon zg-icon-dd-settings"></i>设置</a>
                </li>
                <li>
                    <a href="javascript:;"><i class="zg-icon zg-icon-logout"></i>退出</a>
                </li>
            </ul>
        </div>
        <button class="zu-top-add-question">提问</button>
    </div>
</div>