<%/*
 个人页面模版
 myself             自己属性
 isMyself           是否自己的页面
 name               昵称
 profileUrl         头像路径
 latestQuestions    最新的提问
 questionNum        总提问数
 latestAnswers      最近的回答
 answerNum          总回答数
 */%>
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title><%= name %> - 知乎</title>
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
</head>
<body class="zhi">
    <%- include('components/zu-top.ejs', {myself: myself}) %>
    <div class="zg-wrap zu-main clearFix" role="main">
        <div class="zu-main-content">
            <div class="zu-main-content-inner">
                <div class="zm-profile-header ProfileCard">
                    <div class="zm-profile-header-main">
<% if(isMyself){ %>
                        <div class="UserAvatarEditor ProfileHeader-avatar">
                            <div class="UserAvatar">
                                <img class="Avatar Avatar--l UserAvatar-inner" src=<%= profileUrl %> alt=<%= name %>>
                            </div>
                            <div class="Mask UserAvatarEditor-mask Mask-hidden">
                                <div class="Mask-mask Mask-mask--black UserAvatarEditor-maskInner"></div>
                                <div class="Mask-content">
                                    <svg viewBox="0 0 20 16" class="Icon UserAgatarEditor-cameraIcon Icon-camara" width="30" height="27">
                                        <g><path d="M18.094 2H15s-1-2-2-2H7C6 0 5 2 5 2H2C0 2 0 3.967 0 3.967V14c0 2 2.036 2 2.036 2H17c3 0 3-1.983 3-1.983V4c0-2-1.906-2-1.906-2zM10 12c-1.933 0-3.5-1.567-3.5-3.5S8.067 5 10 5s3.5 1.567 3.5 3.5S11.933 12 10 12zm0 1.5c-2.76 0-5-2.24-5-5s2.24-5 5-5 5 2.24 5 5-2.24 5-5 5zm7.5-8c-.552 0-1-.448-1-1s.448-1 1-1 1 .448 1 1-.448 1-1 1z" fill-rule="evenodd"></path></g>
                                    </svg>
                                    <div class="UserAvatorEditor-maskInnerText">修改我的头像</div>
                                </div>
                            </div>
                            <input id="upload-input" type="file" name="uploads[]" accept="image/png, image/jpeg" style="display: none">
                        </div>
<% }else{ %>
                        <div class="UserAvatarEditor ProfileHeader-avatar">
                            <div class="UserAvatar">
                                <img class="Avatar Avatar--l UserAvatar-inner" src=<%= profileUrl %> alt=<%= name %>>
                            </div>
                        </div>
<% } %>
                        <div class="top">
                            <div class="title-section">
                                <span class="name"><%= name %></span>
                            </div>
                            <div class="bio ellipsis">
                                专业造轮子，拉黑抢前排。
                            </div>
                        </div>
                        <div class="zm-profile-header-info">
                            <div class="zm-profile-header-user-describe">
                                <div class="items">
                                    <div class="item">
                                        <a class="zm-profile-header-user-detail zg-link-litblue-normal">
                                            <i class="icon zm-profile-header-icon"></i>
                                            <span>查看详细资料</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="zm-profile-header-operation clearFix">
                        <div class="zm-profile-header-info-list">
                            <span class="zm-profile-header-info-title">获得</span>
                            <span class="zm-profile-header-user-agree">
                                <span class="zm-profile-header-icon"></span>
                                <strong>0</strong>赞同
                            </span>
                            <span class="zm-profile-header-user-thanks">
                                <span class="zm-profile-header-icon"></span>
                                <strong>0</strong>感谢
                            </span>
                        </div>
<% if(!isMyself){ %>
                        <div class="zm-profile-header-op-btn">
                            <button class="zg-btn zg-btn-unfollow zm-rich-follow-btn">取消关注</button>
                            <a href="/inbox/1001" class="zg-btn-white zm-profile-header-pm-btn" id="zm-profile-header-pm-btn">
                                <i class="zg-icon">私信</i>
                            </a>
                        </div>
<% } %>
                    </div>
                    <div class="profile-navbar clearFix">
                        <a class="item home first active" href="/people/excited-vczh">
                            <i class="icon icon-profile-tab-home"></i>
                            <span class="hide-text">主页</span>
                        </a>
                        <a class="item" href="/people/excited-vczh/asks">
                            提问
                            <span class="num"><%= questionNum %></span>
                        </a>
                        <a class="item" href="/people/excited-vczh/answers">
                            回答
                            <span class="num"><%= answerNum %></span>
                        </a>
                        <a class="item" href="/people/excited-vczh/posts">
                            文章
                            <span class="num">0</span>
                        </a>
                        <a class="item" href="/people/excited-vczh/collections">
                            收藏
                            <span class="num">0</span>
                        </a>
                        <a class="item" href="/people/excited-vczh/logs">
                            公共编辑
                            <span class="num">0</span>
                        </a>
                    </div>
                </div>
                <%- include('components/people-answer.ejs', {answers: latestAnswers}) %>
                <%- include('components/people-question.ejs', {questions: latestQuestions}) %>
            </div>
        </div>
        <%- include('components/people-sidebar.ejs',{viewNum: viewNum}) %>
    </div>
    <%- include components/addQuestion %>
    <script type="text/javascript" src="/javascripts/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="/javascripts/ejs_production.js"></script>
    <script type="text/javascript" src="/javascripts/main.js"></script>
    <div></div>
</body>
</html>