<%/*
 问题页面模版
 title               问题
 answerNum           回答个数
*/%>
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>question</title>
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
</head>
<body class="zhi">
    <%- include('components/zu-top.ejs', {name: user.name, profileUrl: user.profileUrl}) %>
    <div class="zg-wrap zu-main clearFix" data-url="<%= question_id %>" role="main">
        <div class="zu-main-content">
            <div class="zu-main-content-inner">
                <div id="zh-question-title" class="zm-editable-status-normal">
                    <h2 class="zm-item-title">
                        <%= title %>
                        <a class="zu-edit-button" href="javascript:;" name="edit">
                            <i class="zu-edit-button-icon"></i>
                            修改
                        </a>
                    </h2>
                </div>
                <div id="zh-question-detail">
                    <!--<div>-->
                        <!--曾经面试官问我github熟悉吗，我说熟悉，他说命令熟悉吗，我说我用的GUI（官方提供的桌面端和webstorm集成的github插件，就够用了），他说，怎么能用GUI，你这太不专业了，必须得用命令行啊。然后一脸嘲讽……-->
                        <!--<br>-->
                        <!--我觉得github只是工具，怎么方便怎么来，而且目前工作也没用到太多的git复杂的命令，之前也学过，不用也都忘了些，我觉得工具方便我的开发就行，为什么要瞧不起用界面的呢？-->
                        <!--<a class="zu-edit-button" href="javascript:;" name="edit">-->
                            <!--<i class="zu-edit-button-icon"></i>-->
                            <!--修改-->
                        <!--</a>-->
                    <!--</div>-->
                </div>
                <div class="zm-item-meta" id="zh-question-meta-wrap">
                    <div class="zm-meta-panel">
                        <a href="#" class="report zg-right">
                            <i class="z-icon-report-o"></i>举报
                        </a>
                        <a href="#" name="add-comment" class="toggle-comment meta-item">
                            <i class="z-icon-comment"></i>添加评论
                        </a>
                        <a href="#" name="share" class="share meta-item goog-inline-block">
                            <div class="goog-inline-block">
                                <div class="goog-inline-block goog-menu-button-caption">
                                    <i class="z-icon-share"></i>分享
                                </div>
                            </div>
                        </a>
                        <span class="zg-bull">•</span>
                        <a href="#" name="invite" class="meta-item">邀请回答</a>
                    </div>
                </div>
                <div class="zh-answer-title">
                    <div id="zh-answer-filter" class="sorter">
                        <span class="lbl">默认排序</span>
                        <a class="lbl" href="javascript:;">按时间排序</a>
                        <i class="zg-icon zg-icon-double-arrow"></i>
                    </div>
                    <h3 data-num="187" id="zh-question-answer-num"><%= answers.length %> 个回答</h3>
                </div>
                <div id="zh-question-answer-wrap" class="zh-question-answer-wrapper">
                    <% answers.forEach(function(answer){ %>
                        <%- include('components/oneanswer', {
                                answerUrl: '/question/'+ question_id + '/answer/' + answer.answer_id,
                                content: answer.content,
                                upNum: answer.upNum,
                                date: answer.date,
                                goodAnswer: answer.user.goodAnser,
                                bio: answer.user.bio,
                                name: answer.user.name,
                                answerOwner: answer.user.answerOwner,
                                profileUrl: answer.user.profileUrl}) %>
                    <% }); %>
                </div>
                <% if(more){ %>
                    <a class="zg-btn-white zu-button-more">更多</a>
                <% } %>
                <% if(!answered){ %>
                    <%- include('components/answer-edit-wrap-add.ejs', {name: user.name, profileUrl: user.profileUrl })%>
                <% } %>
            </div>
        </div>
        <%- include('components/question-sidebar', {viewNum: viewNum}) %>
    </div>
    <div id="zh-footer" class="zh-footer">
        <div class="content zg-warp">
            <ul>
                <li><a href="javascript:;">刘看山</a></li>
                <li><a href="javascript:;">知乎指南</a></li>
                <li><a href="javascript:;">建议反馈</a></li>
                <li><a href="javascript:;">移动应用</a></li>
                <li><a href="javascript:;">加入知乎</a></li>
                <li><a href="javascript:;">知乎协议</a></li>
                <li><a href="javascript:;">联系我们</a></li>
            </ul>
            <span class="copy">© 2016 知乎</span>
        </div>
    </div>
    <%- include components/addQuestion %>
    <script type="text/javascript" src="/javascripts/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="/javascripts/ejs_production.js"></script>
    <script type="text/javascript" src="/javascripts/main.js"></script>
    <div></div>
</body>
</html>