<%/*
 问题页面模版
 title               问题
 answerNum           回答个数
*/%>
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>question</title>
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
</head>
<body class="zhi">
    <%- include('components/zu-top.ejs', {name: name}) %>
    <div class="zg-wrap zu-main clearFix" data-url="<%= question_id %>" role="main">
        <div class="zu-main-content">
            <div class="zu-main-content-inner">
                <div id="zh-question-title" class="zm-editable-status-normal">
                    <h2 class="zm-item-title">
                        <span>
                            <%= title %>
                            <a class="zu-edit-button" href="javascript:;" name="edit">
                                <i class="zu-edit-button-icon"></i>
                                修改
                            </a>
                        </span>
                    </h2>
                </div>
                <div id="zh-question-detail">
                    <!--<div>-->
                        <!--曾经面试官问我github熟悉吗，我说熟悉，他说命令熟悉吗，我说我用的GUI（官方提供的桌面端和webstorm集成的github插件，就够用了），他说，怎么能用GUI，你这太不专业了，必须得用命令行啊。然后一脸嘲讽……-->
                        <!--<br>-->
                        <!--我觉得github只是工具，怎么方便怎么来，而且目前工作也没用到太多的git复杂的命令，之前也学过，不用也都忘了些，我觉得工具方便我的开发就行，为什么要瞧不起用界面的呢？-->
                        <!--<a class="zu-edit-button" href="javascript:;" name="edit">-->
                            <!--<i class="zu-edit-button-icon"></i>-->
                            <!--修改-->
                        <!--</a>-->
                    <!--</div>-->
                </div>
                <div class="zm-item-meta" id="zh-question-meta-wrap">
                    <div class="zm-meta-panel">
                        <a href="#" class="report zg-right">
                            <i class="z-icon-report-o"></i>举报
                        </a>
                        <a href="#" name="add-comment" class="toggle-comment meta-item">
                            <i class="z-icon-comment"></i>添加评论
                        </a>
                        <a href="#" name="share" class="share meta-item goog-inline-block">
                            <div class="goog-inline-block">
                                <div class="goog-inline-block goog-menu-button-caption">
                                    <i class="z-icon-share"></i>分享
                                </div>
                            </div>
                        </a>
                        <span class="zg-bull">•</span>
                        <a href="#" name="invite" class="meta-item">邀请回答</a>
                    </div>
                </div>
                <div class="zh-answer-title">
                    <div id="zh-answer-filter" class="sorter">
                        <span class="lbl">默认排序</span>
                        <a class="lbl" href="javascript:;">按时间排序</a>
                        <i class="zg-icon zg-icon-double-arrow"></i>
                    </div>
                    <h3 data-num="187" id="zh-question-answer-num"><%= answers.length %> 个回答</h3>
                </div>
                <div id="zh-question-answer-wrap" class="zh-question-answer-wrapper">
                    <% answers.forEach(function(answer){ %>
                        <%- include('components/oneanswer', {content: answer.content}) %>
                    <% }); %>
                </div>
                <% if(more){ %>
                    <a class="zg-btn-white zu-button-more">更多</a>
                <% } %>
                <div id="zh-question-answer-form-wrap" class="zh-question-answer-form-wrap">
                    <div class="zm-editable-editor-wrap">
                        <div class="zm-answer-form">
                            <a href="/people/jiang-chen-guang" class="zm-item-link-avatar"><img src="img/profile_s.jpg"></a>
                            <div>
                                <div class="zu-answer-form-title">
                                    <a href="/people/jiang-chen-guang">蒋晨光</a>
                                    <span>
                                        <a name="edit-bio" class="zu-edit-button" href="#">
                                            <i class="zu-edit-button-icon"></i>填写话题经验，提升回答可信度
                                        </a>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="zm-editable-editor-outer">
                            <div class="zm-editable-toolbar-container">
                                <div class="goog-toolbar">
                                    <div class="goog-inline-block goog-toolbar-button " id="toggleFullScreen" title="写作模式" role="button">
                                        <div class="goog-inline-block goog-toolbar-button-outer-box">
                                            <div class="goog-inline-block goog-toolbar-button-inner-box">
                                                <div class="tr-icon tr-max"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="goog-inline-block goog-toolbar-button" id="+Bold" title="粗体" role="button">
                                        <div class="goog-inline-block goog-toolbar-button-outer-box">
                                            <div class="goog-inline-block goog-toolbar-button-inner-box">
                                                <div class="tr-icon tr-bold"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="goog-inline-block goog-toolbar-button" id="italic" title="斜体" role="button">
                                        <div class="goog-inline-block goog-toolbar-button-outer-box">
                                            <div class="goog-inline-block goog-toolbar-button-inner-box">
                                                <div class="tr-icon tr-italic"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="goog-inline-block goog-toolbar-button" id="underline" title="下划线" role="button">
                                        <div class="goog-inline-block goog-toolbar-button-outer-box">
                                            <div class="goog-inline-block goog-toolbar-button-inner-box">
                                                <div class="tr-icon tr-underline"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="goog-toolbar-separator goog-inline-block">&nbsp;</div>
                                    <div class="goog-inline-block goog-toolbar-button" id="quote" title="引用" role="button">
                                        <div class="goog-inline-block goog-toolbar-button-outer-box">
                                            <div class="goog-inline-block goog-toolbar-button-inner-box">
                                                <div class="tr-icon tr-quote"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="goog-inline-block goog-toolbar-button" id="code" title="代码" role="button">
                                        <div class="goog-inline-block goog-toolbar-button-outer-box">
                                            <div class="goog-inline-block goog-toolbar-button-inner-box">
                                                <div class="tr-icon tr-code"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="goog-inline-block goog-toolbar-button" id="orderedList" title="有序列表" role="button">
                                        <div class="goog-inline-block goog-toolbar-button-outer-box">
                                            <div class="goog-inline-block goog-toolbar-button-inner-box">
                                                <div class="tr-icon tr-orderedList"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="goog-inline-block goog-toolbar-button" id="unorderedList" title="无序列表" role="button">
                                        <div class="goog-inline-block goog-toolbar-button-outer-box">
                                            <div class="goog-inline-block goog-toolbar-button-inner-box">
                                                <div class="tr-icon tr-unorderedList"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="goog-inline-block goog-toolbar-button" id="equation" title="公式" role="button">
                                        <div class="goog-inline-block goog-toolbar-button-outer-box">
                                            <div class="goog-inline-block goog-toolbar-button-inner-box">
                                                <div class="tr-icon tr-equation"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="goog-toolbar-separator goog-inline-block">&nbsp;</div>
                                    <div class="goog-inline-block goog-toolbar-button" id="image" title="插入图片" role="button">
                                        <div class="goog-inline-block goog-toolbar-button-outer-box">
                                            <div class="goog-inline-block goog-toolbar-button-inner-box">
                                                <div class="tr-icon tr-image"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="goog-inline-block goog-toolbar-button" id="video" title="插入视频" role="button">
                                        <div class="goog-inline-block goog-toolbar-button-outer-box">
                                            <div class="goog-inline-block goog-toolbar-button-inner-box">
                                                <div class="tr-icon tr-video"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="goog-toolbar-separator goog-inline-block">&nbsp;</div>
                                    <div class="goog-inline-block goog-toolbar-button" id="removeFormat" title="清楚格式" role="button">
                                        <div class="goog-inline-block goog-toolbar-button-outer-box">
                                            <div class="goog-inline-block goog-toolbar-button-inner-box">
                                                <div class="tr-icon tr-clearFormat"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="zm-editable-editor-field-wrap">
                                <div id="mock" class="zm-editable-editor-field-element editable" contenteditable="true"></div>
                            </div>
                        </div>
                        <div class="zm-command">
                            <label class="zg-left anno-box">
                                <input type="checkbox">匿名
                                <span>&nbsp;</span>
                            </label>
                            <label class="zg-left copyright-box">
                                <select name="copyright">
                                    <option value="1">允许规范转载</option>
                                    <option value="1">允许付费转载</option>
                                    <option value="1">禁止转载</option>
                                </select>
                            </label>
                            <span class="zg-right">
                                <a class="submit-button zg-btn-blue" href="javascript:;">发布回答</a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="zu-main-sidebar">
            <div class="zm-side-section">
                <div class="zm-side-section-inner">
                    <button class="follow-button zg-follow zg-btn-blue">关注问题</button>
                    <div class="zh-question-followers-sidebar">
                        <div class="zg-gray-normal">
                            <a href="/question/0001/followers"><strong>762</strong></a>
                            人关注该话题
                        </div>
                        <div class="list zu-small-avatar-list zg-clear">
                            <a class="zm-item-link-avatar">
                                <img src="img/people-3_s.jpg">
                            </a>
                            <a class="zm-item-link-avatar">
                                <img src="img/people-4_s.jpg">
                            </a>
                            <a class="zm-item-link-avatar">
                                <img src="img/people-3_s.jpg">
                            </a>
                            <a class="zm-item-link-avatar">
                                <img src="img/people-4_s.jpg">
                            </a>
                            <a class="zm-item-link-avatar">
                                <img src="img/people-3_s.jpg">
                            </a>
                            <a class="zm-item-link-avatar">
                                <img src="img/people-4_s.jpg">
                            </a>
                            <a class="zm-item-link-avatar">
                                <img src="img/people-3_s.jpg">
                            </a>
                            <a class="zm-item-link-avatar">
                                <img src="img/people-4_s.jpg">
                            </a>
                            <a class="zm-item-link-avatar">
                                <img src="img/people-3_s.jpg">
                            </a>
                            <a class="zm-item-link-avatar">
                                <img src="img/people-4_s.jpg">
                            </a>
                            <a class="zm-item-link-avatar">
                                <img src="img/people-3_s.jpg">
                            </a>
                            <a class="zm-item-link-avatar">
                                <img src="img/people-4_s.jpg">
                            </a>
                            <a class="zm-item-link-avatar">
                                <img src="img/people-3_s.jpg">
                            </a>
                            <a class="zm-item-link-avatar">
                                <img src="img/people-4_s.jpg">
                            </a>
                            <a class="zm-item-link-avatar">
                                <img src="img/people-3_s.jpg">
                            </a>
                            <a class="zm-item-link-avatar">
                                <img src="img/people-4_s.jpg">
                            </a>
                            <a class="zm-item-link-avatar">
                                <img src="img/people-3_s.jpg">
                            </a>
                            <a class="zm-item-link-avatar">
                                <img src="img/people-4_s.jpg">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="zm-side-section">
                <div class="zm-side-section-inner">
                    <h3>问题状态</h3>
                    <div class="zg-gray-normal">
                        最近活动于
                        <span class="time">2016--9-8</span>
                        <span class="time">•</span>
                        <a href="/question/0001/log">查看问题日志</a>
                    </div>
                    <div class="zg-gray-normal">
                        被浏览
                        <strong>59986</strong>
                        次，相关话题关注者
                        <strong>398902</strong>
                        人
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="zh-footer" class="zh-footer">
        <div class="content zg-warp">
            <ul>
                <li><a href="javascript:;">刘看山</a></li>
                <li><a href="javascript:;">知乎指南</a></li>
                <li><a href="javascript:;">建议反馈</a></li>
                <li><a href="javascript:;">移动应用</a></li>
                <li><a href="javascript:;">加入知乎</a></li>
                <li><a href="javascript:;">知乎协议</a></li>
                <li><a href="javascript:;">联系我们</a></li>
            </ul>
            <span class="copy">© 2016 知乎</span>
        </div>
    </div>
    <div class="modal-dialog-bg" style="opacity: 0.5; width: 100%; height: 100%; display: none"></div>
    <div class="modal-wrapper hidden">
        <div class="modal-dialog absolute-position" style="width: 550px">
            <div class="modal-dialog-title">
                <span class="modal-dialog-title-text">提问</span>
                <span class="modal-dialog-title-close"></span>
            </div>
            <div class="modal-dialog-content">
                <div class="zh-add-question-form">
                    <div class="js-add-question-splash">
                        <p>
                            知乎是一个真诚，友善，认真，互助的社区<br>
                            我们希望每一个疑惑都有解答，好的问题更容易得到好的答案
                            <a href="/question.ejs/www.zhihu.com/question/19555761">如何提一个好问题？</a>
                        </p>
                        <p>
                            <b>提问应遵循真实，客观，简洁，明确，规范的原则</b><br>
                            1、提问应尽可能简洁明了，避免「请问」「有谁知道」「谢谢！」等与问题本身无关的附加语。<br>
                            2、应避免使用「为神马」「童鞋」「肿么办」等网络用语。<br>
                            3、基于个人判断或传言的问题，在提问时应在补充说明里详细说明原由<br>
                            4、避免太宽泛问题，如调查性的问题容易变成每个人都可以发表观点，但对其他人没有价值。<br>
                        </p>
                        <p>
                            <b>知乎禁止这些提问</b><br>
                            1、和已有问题完全重复的问题，<b>为避免重复，提问前可以先进行搜索</b><br>
                            2、招聘 / 求职、交易 / 合作、寻人 / 征友、召集 / 赠送、求码类内容<br>
                            3、投票类问题。例如：你支持方舟子还是韩寒？<br>
                            4、作业或其他希望代为完成个人任务类的内容，以及针对个人具体病情的求医问药类问题<br>
                            完整的提问建议可查看<a href="/question.ejs/www.zhihu.com/question/19806261">知乎的提问规范有哪些？</a><br>
                        </p>
                        <div class="before-ask-from">
                            <b>提问前请先搜索</b>
                            <div style="margin-top: 18px">
                                <input type="text" class="zg-from-text-input" placeholder="请输入你的问题">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="http://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/main.js"></script>
    <div></div>
</body>
</html>