<div class="zm-profile-section-item">
    <span class="zm-profile-setion-time zg-gray zg-right"><%= activity.date %></span>
    <div class="zm-profile-section-main zm-profile-section-activity-main">
        <span class="author-link-line">
            <a href="/people/<%= activity.userObjId %>" class="zg-link author-link"><%= activity.userName %></a>
        </span>
        添加了问题
        <a class="question_link" href=<%= activity.questionUrl %>><%= activity.questionTitle %></a>
    </div>
</div>